<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="success">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="light">
      <ion-card-title>Salário Bruto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Salário bruto ou salário base é a remuneração mensal que um trabalhador recebe sem considerar os descontos
      oficiais obrigatórios,
      como o INSS e o Imposto de Renda.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="light">
      <ion-card-title>Jornada Mensal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hoje, a CLT (Consolidação das Leis do Trabalho) define que a jornada diária de trabalho deve ser de no máximo oito
      horas.
      A lei também determina que o trabalhador não pode fazer mais de duas horas extras por dia.
      A jornada máxima semanal é de 44 horas regulares. A jornada mensal, por sua vez, fica limitada a 220 horas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="light">
      <ion-card-title>Adicional de Horas Extras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Todo empregado que trabalha em jornada ampliada tem direito a rerceber um adicional de no mínimo 50% sobre o valor
      da hora normal, caso o trabalho seja feito em dias da semana (de segunda a sábado), e de 100%, se a hora extra for
      aos domingos e aos feriados.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="light">
      <ion-card-title>Quantidade de Horas Extras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Quantidade de Horas extras feitas no período.
    </ion-card-content>
  </ion-card>

</ion-content>