<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Horas Extras
    </ion-title>
    <ion-icon (click)="pageInfo()" size="large" slot="end" name="information-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label position="floating">Salário Bruto<span>*</span></ion-label>
    <ion-input clear-input="true" [(ngModel)]="calculo.salarioBruto" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Jornada Mensal<span>*</span></ion-label>
    <ion-input clear-input="true" [(ngModel)]="calculo.jornadaMensal" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Adicional de Horas Extras<span>*</span></ion-label>
    <ion-input clear-input="true" [(ngModel)]="calculo.adicionalHorasExtras" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade de Horas Extras<span>*</span></ion-label>
    <ion-input clear-input="true" [(ngModel)]="calculo.qtdHorasExtras" type="number"></ion-input>
  </ion-item>

  <ion-button (click)="calcularHoraExtra()" expand="full" shape="round">Calcular</ion-button>
  <ion-button (click)="limpar()" expand="full" shape="round" fill="outline">Limpar</ion-button>

  <ion-item>
    <ion-label>Valor da Hora Extra:</ion-label>
    <ion-label color="success">{{resultadoUnitario}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Total de Horas Extras:</ion-label>
    <ion-label color="success">{{resultadoTotal}}</ion-label>
  </ion-item>

</ion-content>